body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}


.btn-primary {
    color: #FFF;
    padding: 20px 43px;

    font-size: 20px;

    font-weight: 700;
    border-radius: 8px;
    background: #E55473;

}


header {
    /* width: 1920px; */
    margin: 0;
    padding: 20px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    justify-content: space-between;
    display: flex;

}




.website-title {
    color: #272727;

    font-size: 80px;

    font-weight: 800;



}

.title-description {
    gap: 10px;
    width: 634px;
    color: rgba(39, 39, 39, 0.60);

    font-size: 18px;

    font-weight: 400;

    text-align: justify;
    justify-content: space-between;

}

.banner-image {
    margin-bottom: 0;
    justify-content: space-around;
}

main {
    width: 1920px;
    margin: 0 auto;
}

.featured-flower {
    padding: 130px;
    border: 0;
    text-align: center;
}

.section-title {
    text-align: center;
}

.section-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
}

.bonus-section {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 300px 300px 0px 0px;
    gap: 24px;

}

.flower1 {
    padding: 110px 78px 0px 76px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;


}

.flower2 {
    border-radius: 300px 300px 0px 0px;
    padding: 117px 47px 51px 47px;
    background-color: rgba(5, 151, 160, 0.15);
}

.flower3 {
    border-radius: 300px 300px 0px 0px;
    padding: 67px 75px 0px 75px;
    background-color: rgba(71, 125, 17, 0.15);

}

.bonus-description {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

.icon {
    display: flex;
    border-radius: 8px;
    width: 1440px;
    height: 320px;
    background: rgba(39, 39, 39, 0.05);
    align-items: center;
    justify-content: center;

    margin: auto;
    gap: 350px;


}

.icon-image1 {
    padding: auto;
    justify-content: center;
}

.icon-image2 {
    padding: auto;
    justify-content: center;

}

.icon-image3 {
    padding: auto;
    justify-content: center;
}

.section-description {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;

}

.deal-section {
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    align-items: center;
    justify-content: space-around;
    margin-top: 125px;
    text-align: center;

}

.deal-offer {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.offer {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;

}

.offer-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}