body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}


.btn-primary {
    color: #FFF;
    padding: 20px 43px;

    font-size: 20px;

    font-weight: 700;
    border-radius: 8px;
background: #E55473;

}


header {
    /* width: 1920px; */
    margin: 0;
    padding: 20px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    justify-content: space-between;
    display: flex;

}




.website-title {
    color: #272727;

    font-size: 80px;

    font-weight: 800;



}

.title-description {
    gap: 10px;
    width: 634px;
    color: rgba(39, 39, 39, 0.60);

    font-size: 18px;

    font-weight: 400;

    text-align: justify;
    justify-content: space-between;

}

.banner-image {
    margin-bottom: 0;
    justify-content: space-around;
}
main{
    width: 1920px;
    margin: 0 auto;
}
.featured-flower{
    padding: 130px;
    border: 0;
    text-align: center;
}
.section-title{
    text-align: center;
}
.section-description{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
}